<!DOCTYPE html>
<html>
  <head>
    <!-- Load Heroku node.js template partial -->
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <!-- Load Heroku node.js template partial -->
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <!-- <a href="/" class="lang-logo">
          <img src="/lang-logo.png">
        </a> -->
        <h1>Code for America: NDoCH 2020</h1>
        <h2>Code for Sacramento: Asset Map</h2>
        <p>GIS Web Application</p>
        <!-- <a type="button" class="btn btn-lg btn-default" href="https://codeforsacramento.org/"><span class="glyphicon glyphicon-flash"></span> Code for Sacramento</a>
        <a type="button" class="btn btn-lg btn-default" href="https://nsfcivicinnovation.org/"><span class="glyphicon glyphicon-flash"></span> Civic Innovation Challenge</a> -->
        <a type="button" class="btn btn-lg btn-default" href="/map"><span class="glyphicon glyphicon-map-marker"></span> View GIS Map</a>
      </div>
    </div>

    <div class="container">
      <h4>
        <div class="row">
          <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-question-sign"></span> About</h3>
              <p>
                  Web application to visualize various assets within the Sacramento area. The data is sourced from various open data portals.
              </p>
          </div>
          <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-flash"></span> Equity</h3>
              <p>
                  Asset mapping is an integral part of empowered community building that is based on understanding the strengths and needs of diverse communities.
              </p>
          </div>
          <div class="col-md-4">
            <h3><span class="glyphicon glyphicon-link"></span> Software and Tools</h3>
              <li><a href="https://developers.arcgis.com/javascript/">ESRI JS API</a></li>
              <li><a href="https://devcenter.heroku.com/categories/nodejs-support">Node.js on Heroku</a></li>
              <li><a href="https://data-sacramentocounty.opendata.arcgis.com/">Sacramento County</a></li>
              <li><a href="https://www.caloes.ca.gov/cal-oes-divisions/geographic-information-systems">Office of Emergency Services (OES)</a></li>
              <li><a href="https://atlas-dwr.opendata.arcgis.com/">Department of Water Resources (DWR)</a></li>
          </div>
        </div>
      <h4>
    </div>

  </body>
</html>
